* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
p a {
    display: inline;
}
body {
    font-family: var(--general-ff);
    hyphens: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
span {
    display: none;
}
svg{
    cursor: pointer;
}
:root{
    --primary-c: #04202C;
    --home-c: whitesmoke;
    --form-c: #5B7065;
    --secondForm-c : #C9D1C8;
    --basic-c: white;
    --buttonActive-c: #304040;
    --title-c: #DDA288;
    --AlertImportant-c : rgb(109, 37, 37);
    --tasksOk : #5b856f;

    --form-ff : 'Zilla Slab';
    --general-ff : var(--general-ff);


}

/* Header */
.Header {
    width: 100%;
    height: 100px;
    background-color: var(--primary-c);

    display: flex;
    
    font-family: var(--general-ff);
    color: var(--basic-c);
}
.Header-logo {
    width: 15%;
}
.Header-picture {
    width: 100%;
    height: 100px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Header-img {
    width: 38%;
    height: 70px;
}


.Header-nav {
    width: 70%;
    max-width: 120em;

    padding: 1em;
}
.Menu-ul {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: end;
}
.Menu-li {
    padding: 1em;
    margin: 0 1em 0 0;

    transition: all .5s ease;
    cursor: pointer;

}
.Menu-li.isActive {
    background-color: var(--buttonActive-c);
    border-radius: 10px;
    color: var(--basic-c);
}
.Menu-information {
    position: relative;

}
.Btn-menu{
    display: none;
}


.Block{
    width: 60%;
    background-color: var(--basic-c);
    margin: 1em;
    padding: 1em;

    border-radius: 10px;
    border: 1px solid black;

    font-weight: bold;

    position: absolute;
    top: 0;
    display: none;
    transition: all .5s ease;

    z-index: 3;
}
.Block.Block.isActive {
    display: unset;
}



.Block-calendar {
    width: 60%;
    height: 400px;

    position: absolute;
    top: 0;
    left: 12%;
}
.Block-calendar--home {
    width: 60%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 12%;
}
.Block-contacts {
    width: 60%;

    padding: 1.25rem;

    position: absolute;
    top: 0;
    left: 23%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    display: none;
}
.Block-projects {
    width: 60%;

    padding: 1.25rem;

    position: absolute;
    top: 0;
    left: 37%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    display: none;
}
.Block-reports {
    width: 35%;

    padding: 1.25rem;

    position: absolute;
    top: 0;
    left: 48%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    display: none;
}
.Block-dt {
    color: var(--title-c);
    padding-bottom: 1.25rem;
}
.Block-dd {
    color: var(--primary-c);
    padding: 0 0 0.3125rem 1.25rem;
}
.Block-chat {
    width: 56%;
    min-height: 400px;
    max-height: 560px;

    position: absolute;
    top: 1.1875rem;
    right: -13rem;
}




.Block-dd--calendar {
    border-radius: 5px;
    padding: 0.625rem;
    text-align: center;
}
.Header-wrapper {
    width: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}
/*.Block-search {
    width: 20%;

    position: absolute;
    top: 10%;
    left: 65%;
}*/
.Block-profile {
    width: 10%;
    min-height: 150px;
    padding: 0.9375rem;

    position: absolute;
    top: 10%;
    left: 85%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;

    text-align: center;
    z-index: 3;
    display: none;
}
/*.Block-configuration {
    width: 12%;
    min-height: 150px;
    padding: 0.9375rem;

    position: absolute;
    top: 10%;
    left: 87%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;

    text-align: center;
    display: none;
}*/

.Block-li--profile, .Block-li--close{
    background-color: var(--secondForm-c);
    padding: 0.3125rem;
    margin: 0.3125rem;

    border-radius: 5px;

    color: var(--primary-c);
}
.Block-li--close {
    background-color: var(--title-c);
}




/* MAIN */

.Home{ 
    width: 100%;
    min-height: 300px;
    background-color: var(--home-c);

    position: relative;
    
}
.Home-principal{
    width: 100%;
    min-height: 700px;
    background-color: var(--home-c);

    position: relative;
}
.Home-picture {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Home-img {
    width: 40%;
    opacity: 0.03;

    position: fixed;
    top: 20%;
    z-index: 0;

}


.Home-organizer {
    width: 50%;
    min-height: 400px;
    background-color: var(--form-c);
    margin: 2.5rem;
    padding: 1.25rem;

    border: 1px solid black;
    border-radius: 10px;

    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 0;

    color: black;

    animation: slideRight 1s ease both;

}
.Home-animation{
    width: 35%;
    min-height: 400px;

    margin: 4.375rem 0;

    position: relative;
    left: 60%;
}
.Animation-graph , .Animation-clipboard , .Animation-folder , .Animation-people , .Animation-calendar{
    width: 18%;
    height: 75px;
    background-color: var(--home-c);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--primary-c);

    opacity: 0;
    transform: translateY(20px); 
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}
.Animation-clipboard{
    position: absolute;
    top: 0;
    left: 40%;
    animation-name: fadeInUp;
    animation-delay: 0s;
}
.Animation-calendar{
    position: absolute;
    top: 20%;
    left: 60%;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}
.Animation-people{
    position: absolute;
    top: 40%;
    left: 80%;
    animation-name: fadeInUp;
    animation-delay: 0.6s;
}
.Animation-folder{
    position: absolute;
    top: 60%;
    left: 60%;
    animation-name: fadeInUp;
    animation-delay: 0.9s;
}
.Animation-graph{
    position: absolute;
    top: 80%;
    left: 40%;
    animation-name: fadeInUp;
    animation-delay: 1.2s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.Tasks-dt, .Contacts-dt{
    background-color: var(--title-c);
    padding: 0.625rem;

    border-radius: 5px;
    color: var(--primary-c);
    text-align: center;
}
.Tasks-dd, .Contacts-dd{
    background-color: rgb(232, 231, 231);
    padding: 0.3125rem;
    margin: 0.5rem;
    border-radius: 5px;
    color: black;
}
.Home-tasks {
    width: 85%;
    min-height: 100px;

    margin: auto;
    padding: 1.25rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--primary-c);
    font-size: 1.25rem;
    font-weight: bold;

}
.Tasks-dt, .Contacts-dt {
    font-weight: bold;
}

.Tasks-dl, .Contacts-dl{
    width: 80%;
    min-height: 100px;
    background-color: var(--basic-c);
    margin: 1.25rem auto;
    padding: 1.25rem;

    border: 1px solid black;
    border-radius: 10px;

    color: black;
    font-size: 1rem;
    font-weight: normal;

    position: relative;
}

.Tasks-dl--important {
    width: 40%;
    min-height: 300px;


    position: fixed;
    top: 15%;
    right: 5%;
    z-index: 2;

    opacity: 0;

}

.Tasks-dl--important.isActive {
    opacity: 1;
}

.Tasks-dt--important {
    background-color: var(--AlertImportant-c);

    color: var(--home-c);
}

.Tasks-dd--important {
    border: 1px solid var(--AlertImportant-c);
    margin: 0.9375rem auto;
}

.Home-button {
    width: 4%;
    height: 50px;
    background-color: var(--AlertImportant-c);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 18%;
    right: 0;

    border-radius: 5px;
    cursor: pointer;
}

.Home-button:hover {
    transform: scale(0.95);
}


.Tasks-dt--ok {
    background-color: var(--tasksOk);
}

.Tasks-dd--ok {
    border: 1px solid var(--tasksOk);
}

/*.Home-client {
    width: 10%;
    height: 30px;
    background-color: var(--basic-c);
    padding: 0.1875rem;
    margin: 1.25rem 2.5rem;

    border: 1px solid black;
    border-radius: 8px;

    text-align: center;

    position: relative;
    cursor: pointer;
}

.Clients-ul{
    width: 100%;
    min-height: 120px;
    background-color: var(--basic-c);
    padding: 0.1875rem;
    margin: 1.25rem 2.5rem;

    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 2;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: 1px solid black;
    border-radius: 8px;

    text-align: center;

    opacity: 0;
}

.Clients-ul.isActive {
    opacity: 1;
}

.Clients:active{
    background-color: grey;
}

.Clients-a:hover{
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.3125rem;
}*/

.Contacts-create {
    position: absolute;
    top: 35%;
    right: 6%;
}

.Contacts-management {
    position: absolute;
    top: 40%;
    right: 6%;
}
.Contacts-email{
    position: absolute;
    top: 8%;
    left: 5%;
}
.Contacts-tlf{
    position: absolute;
    top: 8%;
    right: 5%;
}
.Home-h2 , .Create-link ,.Management-link{
    padding: 1.25rem;
    margin: 1.25rem 12.5rem 0;

    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-c);
    cursor: pointer;

}

/*Form Create-contacts + Form Create-projects*/

.Home-form{
    width: 80%;
    min-height: 200px;
    background-color: var(--form-c);

    margin: 0.3125rem auto;
    padding: 1.25rem;

    border-radius: 8px;
    box-shadow: 9px 4px 8px rgba(0, 0, 0, 0.2);

    z-index: 2;
    position: relative;

    font-size: 0.625rem;
    
}
.Form-create{
    width: 100%;
    min-height: 180px;
    background-color: var(--form-c) ;

    margin: 0.3125rem auto;
    padding: 1.25rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
}
.Organizer-form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Form-left{
    width: 55%;
}
.Form-right{
    width: 40%;
    margin: 0 0 0 2.5rem;
}
/*.Form-left--projects{
    width: 60%;
    margin: 1.25rem 1.25rem;
}
.Form-right--projects{
    width: 40%;
    margin: 2.5rem 1.25rem 1.25rem;
}
*/
/*.Form-second , .Form-third{
    width: 90%;
    margin: 0.625rem 0 0.625rem 0;

    color: red;
    font-size: 0.625rem;

    border-bottom: 1px solid black;
}*/

input, select, textarea, label {
    padding: 0.3125rem;
    border: 1px solid black;
    border-radius: 5px;

    font-size: 0.625rem;

    display: inline-block;
}

input[type="submit"] {
    width: 15%;

    padding: 0.625rem;
    margin: 0.3125rem auto;

    color: var(--basic-c);
    font-size: 0.625rem;
    border-radius: 8px;

    display: block;
    cursor: pointer;
}
.Form-label {
    width: 35%;
    background-color: var(--secondForm-c);
    margin: 0 0 0.25rem;
    padding: 0.3125rem;

    font-family: var(--general-ff);
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-family: 'Tinos';
    text-align: center;
    border: 1.2px solid black;
}
.Form-input {
    width: 60%;
    background-color: var(--secondForm-c);
    margin: 0.25rem 0 0.25rem 0.625rem;

    font-family: var(--form-ff);
    color: black;
}
.Form-textarea{
    width: 100%;
    min-height: 90px;
    background-color: var(--secondForm-c);

    font-family: var(--form-ff);

    hyphens: auto;
    resize: none;
}
.Form-textarea--organizer{
    height: 150px;
    background-color: var(--secondForm-c);
    margin: 0 0 1.25rem 0;
    font-size: 1rem;
    font-family: var(--form-ff)
}
.Form-select--contact{
    width: 20%;
    background-color: var(--secondForm-c);
    margin: 0 0 0 0.625rem;
    text-align: center;
}
.Form-option--active{
    background-color: green;
    padding: 0.3125rem;
    border-radius: 5px;
}
.Form-option--pending{
    background-color: orange;
    padding: 0.3125rem;
    border-radius: 5px;
}
.Form-option--inactive{
    background-color: red;
    padding: 0.3125rem;
    border-radius: 5px;
}


.Form-back{
    position: absolute;
    top: 70%;
    right: 5%;
    z-index: 2;
}
.Management-back{
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 2;
}




.Home-management{
    width: 40%;
    min-height: 100px;
    background-color: var(--basic-c);
    padding: 1.25rem;
    margin: 1.25rem auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 20px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 9px 4px 8px rgba(0, 0, 0, 0.2);

    position: relative;
    z-index: 2;
}
.Management-li{
    font-size: 1rem;
}
.Management-li:hover{
    background-color: var(--home-c);
    border-radius: 10px;
    padding: 0.3125rem;
}


.Home-general{
    width: 55%;
    border-right: 1px solid black;

}
.Projects-ul{
    width: 88%;
    min-height: 100px;
    background-color: var(--title-c);
    margin: 1.25rem 3.125rem;
    padding: 1.25rem;

    border: 1px solid black;
    border-radius: 10px;

    color: black;
    font-size: 1rem;
    font-weight: normal;

    position: relative;
}
.Projects-li{
    height: 90%;
    min-height: 50px;
    background-color: var(--home-c);

    margin: 1.25rem;

    border-radius: 7px;
}
.Home-new{
    position: absolute;
    top: 30%;
    right: 8%;
}
.Home-head{
    position: absolute;
    top: 40%;
    right: 3%;
}
.Home-management--projects{
    position: absolute;
    top: 50%;
    right: 3%;

    display: none;
}
.Home-management--reports{
    position: absolute;
    top: 80%;
    right: 3%;
    display: none;
}
.Home-management--reports.isActive{
    display: unset;
}
.Home-management--projects.isActive{
    display: unset;
}
.Management-li{
    padding: 0.5rem;
}
.Export-svg{
    margin: 0 0 0 1.25rem;
}
.Export-form{
    display: flex;
    flex-flow: row nowrap;
}
.Export:hover{
    background-color: var(--secondForm-c);
}


.Form-first{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid black;
}




.Form-select--status , .Form-select--priority , .Form-input--expenses{
    width: 50%;
    background-color: var(--secondForm-c);
    margin: 0 0 1.25rem 0;
}
.Form-input-description , .Form-input-comments{
    height: 80px;
    margin: 0 0 0.625rem 0;
}

.Form-back--projects{
    position: absolute;
    top: 100%;
}
.Form-h2 , .Organizer-h2 , .Tasks-h2 {
    width: 100%;
    padding: 0.3125rem;
    margin: 0.3125rem;

    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-c);
    text-decoration-line: underline;
}
.Form-send{
    width: 100%;
    padding: 0.5rem;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.Form-button{
    width: 10%;
    height: 30px;
    background-color: var(--buttonActive-c);
    margin: 0.4375rem auto;

    border-radius: 8px;
    font-size: 0.625rem;
    color: var(--home-c);

    cursor: pointer;
}
.Form-low , .Form-medium , .Form-high , .Form-critical{
    background-color: red;
    padding: 0.3125rem;
    border-radius: 5px;
    text-align: center;
}
.Form-medium{
    background-color: orange;
}
.Form-high{
    background-color: green;
}
.Form-critical{
    background-color: yellow;
}
.Form-planning , .Form-progressing , .Form-complete{
    border: 1.5px solid blue;
    border-radius: 5px;
    padding: 0.3125rem;
    border-radius: 5px;
    text-align: center;
    margin: 0.1875rem;
}
.Form-progressing{
    border: 1.5px solid yellow;
}
.Form-complete{
    border: 1.5px solid green;
}
.Form-label--status , .Form-label--priority{
    width: 50%;
}
.Form-select--status , .Form-select--priority{
    width: 70%;
    height: 120px;
}

.Home-reports{
    width: 65%;
    height: 500px;
    background-color: var(--basic-c);
    
    margin: 0.625rem 2.5rem;
    padding: 0.625rem;

    border-radius: 8px;
    box-shadow: 9px 4px 8px rgba(0, 0, 0.3, 0.5);

    overflow-y: scroll;

    position: absolute;
    z-index: 2;

}
.Reports-container{
    width: 90%;
    margin: 1.875rem auto;

    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    gap: 20px;
    
}
.Reports-img{
    width: 90%;
    height: 180px;
    background-color: lightgray;

    object-fit: cover;

    border: 0.5px solid var(--primary-c);
    
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Reports-img:hover{
    transform: scale(1.0);   
}
.Overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Overlay-img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.Overlay.active {
    visibility: visible;
    opacity: 1;
}

.Overlay .Overlay-close {
    position: absolute;
    top: 1.25rem;
    right: 20px;
    font-size: 1.25rem;
    color: var(--basic-c);
    cursor: pointer;
    border: none;
}




.Reports-date{
    position: absolute;
    top: 55%;
    right: 10%;
}
.Reports-p{
    padding: 1.25rem;
  
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-c);

    position: absolute;
    top: 45%;
    right: 15%;
}
.Management-link--reports{
    width: 50%;
    position: absolute;
    top: 40%;
    right: 0;
}
.Home-head--reports{
    position: absolute;
    top: 60%;
    right: 5%;
}

.Profile{
    width: 100%;
    min-height: 565px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Profile-information{
    width: 70%;
    min-height: 450px;
    background-color: var(--secondForm-c);
    padding: 1.25rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    border: 1px solid black;

    border-radius: 8px;
    box-shadow: 9px 4px 8px rgba(0, 0, 0, 0.2);

    position: absolute;
    z-index: 2;

}
.Profile-picture{
    width: 25%;
    height: 250px;
    border-radius: 50%;
}
.Profile-img{
    width: 100%;
}
.Profile-ul{
    width: 60%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.Profile-li{
    width: 90%;
    background-color: var(--buttonActive-c);
    padding: 0.3125rem;
    border-radius: 8px;
    text-align: center;
    color: var(--basic-c);
}
.Profile-li--close{
    width: 60%;
    background-color: var(--title-c);
    margin: 0.625rem 0;
    cursor: pointer;
}
.Wrapper-profile , .Wrapper-configuration , .Wrapper-search{
    cursor: pointer;
}




.Schedule{
    width: 90%;
    min-height: 500px;
    font-family: var(--general-ff);
    max-width: 800px;
    padding: 2.5rem;
    margin: 2.5rem auto;
    background-color: var(--secondForm-c);
    border-radius: 10px;
}
.Schedule-header {
    margin: 0 0 0.625rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2rem;
    font-family: var(--general-ff);

}
.Schedule-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.calendar-day {
    padding: 0.625rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;
    border: 2px solid var(--primary-c);

    font-family: var(--general-ff);

    position: relative;
}
.calendar-day-number {
    font-size: 1rem;
}
.add-event {
    background-color: var(--buttonActive-c);
    padding: 0.3125rem;
    margin: 0.3125rem 0 0 0;

    border-radius: 3px;

    color: var(--basic-c);
    font-size: 0.8rem;
    font-family: var(--general-ff);
    text-align: center;

    cursor: pointer;
}
.add-event:hover {
    background-color: var(--form-c);
}
.event-form {
    padding: 0.625rem;
    background: lightgray;

    display: flex;
    flex-flow: column;
    gap: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;

    font-family: var(--general-ff);

}
.event-form input {
    padding: 0.3125rem;
    font-size: 0.9rem;
    font-family: var(--general-ff);

}
.event-form button {
    padding: 0.3125rem;
    font-size: 0.9rem;
    font-family: var(--general-ff);
    cursor: pointer;
}
.calendar-event {
    background-color: var(--title-c);

    margin: 0 0 0.25rem 0;

    border: 1px solid #000;

    text-align: center;
    font-family: var(--general-ff);

}
.Schedule-prev , .Schedule-next{
    background-color: #7E675E;
    padding: 0.3125rem 0.625rem;
    border-radius: 30%;
}
.Schedule-month{
    background-color: #7E675E;
    padding: 0.625rem 1.875rem;
    border-radius: 30%;

    /*font-family*/
}


.CalendarView{
    width: 90%;
    min-height: 200px;
    margin: auto;
    padding: 0 0 0.625rem 0;
    background-color: var(--secondForm-c);
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color: var(--basic-c);
}
.CalendarView-header {
    width: 100%;
    height: 30px;
    background-color: var(--buttonActive-c);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
    font-size: 1.2rem;
}
.CalendarView-grid{
    width: 90%;
    min-height: 230px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.CalendarView-day {
    width: 90%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 0.625rem;
    border-radius: 5px;
    position: relative;
    font-size: 0.5rem;
}
.CalendarView-prev , .CalendarView-next{
    padding: 0.3125rem 0.625rem;
    border-radius: 30%;
}
.CalendarView-month{
    padding: 0.625rem 1.875rem;
    border-radius: 30%;
    font-size: 0.625rem;
    
}



.Home-slide{
    width: 4%;
    height: 50px;
    background-color: var(--title-c);
    margin: 1.25rem 2.5rem 0 0;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 5%;
    right: 0;

    border-radius: 50px;
    cursor: pointer;

    opacity: 1;
}
.Home-slide.isVisible{
    opacity: 0;
}




.Chat-container {
    width: 100%;
    min-height: 400px;
    background-color: var(--secondForm-c);
    
    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
    overflow: hidden;
  }

  .Chat-header {
    background-color: var(--secondForm-c);
    padding: 0.9375rem;

    text-align: center;
    font-size: 1.125rem;
    color: var(--basic-c);
    font-weight: bold;
    color: black;
  }


.Chat-messages {
    background-color: var(--home-c);
    padding: 0.625rem;
    
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    gap: 10px;

    overflow-y: auto;
}

.message {
    max-width: 70%;
    padding: 0.625rem 0.9375rem;

    border-radius: 20px;

    font-size: 0.875rem;
    line-height: 1.4;

    word-wrap: break-word;
}

.message.user {
    align-self: flex-end;
    background-color: var(--title-c);
    color: var(--basic-c);
}

.message.bot {
    background-color: lightgray;

    align-self: flex-start;

    color: #333;
}
.Chat-input {
    padding: 0.625rem;

    display: flex;
    border-top: 1px solid #ddd;
}
.Chat-input input {
    flex: 1;
    padding: 0.625rem;
    
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 0.875rem;

    outline: none;
}
.Chat-input button {
    background-color: #587065;

    margin-left: 0.625rem;
    padding: 0.625rem 1.25rem;
    border: none;
    
    color: var(--basic-c);
    border-radius: 20px;
    font-size: 0.875rem;

    cursor: pointer;
}
.Chat-input button:hover {
    background-color: var(--buttonActive-c);
}


@keyframes slideRight{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}



@media (max-width:1100px){
    .Header{
        width: 100%;

    }
    .Header-logo{
        width: 18%;
    }
}

@media (max-width:780px){
    .Header{
        width: 100%;  
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .Header-logo{
        width: 24%;
    }
    .Header-nav{
        display: none;
    }
    .Header-responsive{
        width: 40%;
        background-color: red;

        display: flex;
        flex-flow: row nowrap;

    }
    .Menu-li--chat{
        width: 50%;
        text-align: center;
        background-color: lightgoldenrodyellow;
    }
    .Btn-menu{
        width: 50%;
        background-color: lightblue;
        text-align: end;
        display: block;
    }
}