/* ESTRUCTURA GENERAL 
    index.css (en este archivo se incluye el CSS completo del proyecto)
    - Reset
    - Header
    - Main
    - Responsive

*/

/* Establece reglas globales para todos los elementos
    Descripción: pone en valor 0 todos los estilos preestablecidos en algunas etiquetas*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
p a {
    display: inline;
}
body {
    font-family: var(--general-ff);
    hyphens: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
span {
    display: none;
}
svg{
    cursor: pointer;
}

/* Estilos optimizados*/
:root{
    --primary-c: #04202C;   /* Color del Header y títulos generales (h2) */
    --home-c: whitesmoke;   /* Color para fondo (bg) de main + textarea + selected + input */
    --form-c: #5B7065;  /* Color de fondo (bg) de los formularios */
    --secondForm-c : #C9D1C8;   /* Color de fondo (bg) de profile + close + label + calendario + chat */ 
    --basic-c: white;   /* Color de tipografía para header + overlay(reports) + profile + addEvent (calendario) + calendarView(vista de calendario en bloque desplegable Header) +  menssage.user + Chat-input button
                            Color de fondo (bg) para Block (bloques desplegables Header) + tasks (apartado "Tareas del día" , "Tareas pendientes del mes", "Tareas pendientes del año", "Tareas cumplidas", "Tareas importantes") + contacts (apartado de Contactos) Home Management (apartado) + Form-select--contact + Home Reports (apartado Informes Generales)*/
    --buttonActive-c: #304040;  /* Color de fondo (bg) de botón (btn) de formularios + add event (añadir evento en calendario) + CalendarView-header(header del calendario situado en bloque desplegable del header) +  Profile-li (listado de información en Perfil)*/
    --title-c: #DDA288;     /* Color para svg de Perfil + color de fondo (bg) de btn de menú responsive + color de fondo de btn slide + color de fondo (bg) de Tasks-dt (título de apartados = "Tareas del día", "Tareas pendientes del mes" , "Tareas pendientes del año" + título de sección en bloques desplegables Header (Tareas + Calendario + Contactos + Proyectos + Informes Generales)) */
    --AlertImportant-c : rgb(109, 37, 37);  /*Color para btn de apertura del apartado = "Tareas importantes"*/
    --tasksOk : #5b856f;    /*Color de fondo (bg) de título de apartado "Tareas cumplidas" */

    --form-ff : 'Zilla Slab';   /*Tipografía de formularios : label +  input + textarea + select + botón (btn)*/
    --general-ff : 'Times New Roman', Times, serif; /* Tipografía utilizada para nombre de secciones Header + calendario (utilizada generalmente en "body") */

}

/* Header 
    Descripción: Estilos para Header
    Estructura:
        - Logo + picture + img
        - Nav (Header-nav) + Menu-ul + Menu-li
        - Header responsive
        - Menu-information 
        - Btn-menu + Btn-seccion
*/

.Header {
    width: 100%;
    background-color: var(--primary-c);

    display: flex;
    
    font-family: var(--general-ff);
    color: var(--basic-c);
}
.Header-logo {
    width: 15%;
}
.Header-picture {
    width: 100%;
    margin: 0.625rem 0 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Header-img {
    width: 43%;
    height: 70px;
}
/* Menú del Header */
.Header-nav {
    width: 70%;
    max-width: 120em;

    padding: 1em;
}
.Menu-ul {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: end;
}
.Menu-li {
    padding: 1em;
    margin: 0 1em 0 0;

    transition: hover .5s ease;
}
.Menu-li.isActive {
    background-color: var(--buttonActive-c);
    border-radius: 10px;
    color: var(--basic-c);
}
.Header-responsive{
    display: none;
}
.Menu-information {
    position: relative;

}
.Btn-menu , .Btn-seccion{
    display: none;
}

/*Bloques desplegables de información que recoge cada uno de las secciones propuestas en el menu de Header
    Descripción: diseño y posición de los diferentes bloques del Header-nav
*/
.Block{
    width: 60%;
    background-color: var(--basic-c);
    margin: 1em;
    padding: 1em;

    border-radius: 10px;
    border: 1px solid black;

    font-weight: bold;

    position: absolute;
    top: 0;
    display: none;
    transition: open .5s ease;

    z-index: 3;
}
/* Transición de apertura del bloque desplegable */
.Block.Block.isActive {
    display: unset;
}
/* Bloque de Calendario*/
.Block-calendar {
    width: 60%;
    min-height: 300px;

    position: absolute;
    top: 0;
    left: 12%;
}
.Block-calendar--home {
    width: 60%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 12%;
}
.Block-dd--calendar {
    border-radius: 5px;
    padding: 0.625rem;
    text-align: center;
}
/* Bloque de Contactos*/
.Block-contacts {
    width: 60%;

    padding: 1.25rem;

    position: absolute;
    top: 0;
    left: 30%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    display: none;
}
/* Bloque de Proyectos*/
.Block-projects {
    width: 60%;

    padding: 1.25rem;

    position: absolute;
    top: 0;
    left: 47%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    display: none;
}
/* Bloque de Informes generales*/
.Block-reports {
    width: 35%;

    padding: 1.25rem;

    position: absolute;
    top: 0;
    left: 63%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    display: none;
}
/* Lista de contenidos dentro del bloque desplegable. Edición */
.Block-dt {
    color: var(--title-c);
    padding: 0 0 0.375rem 0;
}
.Block-dd {
    color: var(--primary-c);
    padding: 0 0 0.3125rem 1.25rem;
}

/* Bloque de Chat + Chat responsive */
.Block-chat {
    width: 56%;
    min-height: 400px;
    max-height: 560px;

    position: absolute;
    top: 1.1875rem;
    right: -13rem;
}
.Block-chat--responsive{
    width: 50%;
    min-height: 400px;
    max-height: 560px;

    position: absolute;
    top: 3rem;
    right: 0;
}





/*Sección 2 de Header
    Descripción: incluye "Profile"
*/ 
.Header-wrapper {
    width: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}

/* Bloque de Perfil*/
.Block-profile {
    width: 10%;
    min-height: 150px;
    padding: 0.9375rem;

    position: absolute;
    top: 10%;
    left: 82%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;

    text-align: center;
    z-index: 3;
    display: none;
}
/* Contenido interno del bloque desplegable de Perfil */
.Block-li--profile, .Block-li--close{
    background-color: var(--secondForm-c);
    padding: 0.3125rem;
    margin: 0.3125rem;

    border-radius: 5px;

    color: var(--primary-c);
}
.Block-li--close {
    background-color: var(--title-c);
}





/* MAIN 
    Descripción: Estilos para main
        Cada pantalla contiene un estilo diferente aunque en algunas se comparta el diseño
        Estructura: 
                - Edición general de Home
                - picture + img de background (bg)
                - Home- organizer (index.html) + contenido interno + animation
                - Home-tasks ( + su contenido interno )
*/
/* Edición general del Home */
.Home{ 
    width: 100%;
    min-height: 30vh;
    background-color: var(--home-c);

    position: relative;
    
}
/* Otra edición general del Home para otras pantallas */
.Home-principal{
    width: 100%;
    min-height: 150vh;
    background-color: var(--home-c);

    position: relative;
}
/* imagen de fondo */
.Home-picture {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Home-img {
    width: 40%;
    opacity: 0.03;

    position: fixed;
    top: 20%;
    z-index: 0;

}

/* Home, pantalla principal (index.html) */
.Home-organizer {
    width: 50%;
    min-height: 400px;
    background-color: var(--form-c);
    margin: 2.5rem;
    padding: 1.25rem;

    border: 1px solid black;
    border-radius: 10px;

    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 0;

    color: black;

    animation: slideRight 1s ease both;

}
.Home-animation{
    width: 35%;
    min-height: 400px;

    margin: 4.375rem 0;

    position: relative;
    left: 60%;
}
/* Animación para animar la aparición de los svg de las diferentes secciones
    Estructura de la información posterior:
                            - Edición de todos los svg 
                            - Edición de cada uno de los svg para indicar su posición en la pantalla
                            - Creación y definición de la animación "fadeInUp"
*/
.Animation-graph , .Animation-clipboard , .Animation-folder , .Animation-people , .Animation-calendar{
    width: 30%;
    min-height: 75px;
    background-color: var(--home-c);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--primary-c);

    opacity: 0;     /* Hace que el elemento sea invisible al comienzo de la animación */
    transform: translateY(20px);    /* Desplaza el elemento 20px hacia abajo desde su posición original */
    animation-duration: 1s;     /* Define la duración de la animación de 1 segundo */
    animation-fill-mode: forwards;  /* Hace que el elemento mantenga el estado final de la animación al finalizarla */ 
}
.Animation-clipboard{
    position: absolute;
    top: 0;
    left: 40%;
    animation-name: fadeInUp;   /* Aplica la animación llamada "fadeInUp" que implica que el elemento se desplace hacia arriba y se vuelva visible */
    animation-delay: 0s;    /* La animación comenzará de forma inmediata */
}
.Animation-calendar{
    position: absolute;
    top: 20%;
    left: 60%;
    animation-name: fadeInUp;   /* Aplica la animación llamada "fadeInUp" que implica que el elemento se desplace hacia arriba y se vuelva visible */
    animation-delay: 0.3s;  /* La animación comenzará a los 0.3 segundos */
}
.Animation-people{
    position: absolute;
    top: 40%;
    left: 80%;
    animation-name: fadeInUp;   /* Aplica la animación llamada "fadeInUp" que implica que el elemento se desplace hacia arriba y se vuelva visible */
    animation-delay: 0.6s;  /* La animación comenzará a los 0.6 segundos */
}
.Animation-folder{
    position: absolute;
    top: 60%;
    left: 60%;
    animation-name: fadeInUp;   /* Aplica la animación llamada "fadeInUp" que implica que el elemento se desplace hacia arriba y se vuelva visible */
    animation-delay: 0.9s;  /* La animación comenzará a los 0.9 segundos */
}
.Animation-graph{
    position: absolute;
    top: 80%;
    left: 40%;
    animation-name: fadeInUp;   /* Aplica la animación llamada "fadeInUp" que implica que el elemento se desplace hacia arriba y se vuelva visible */
    animation-delay: 1.2s;   /* La animación comenzará a los 1.2 segundos */
}
@keyframes fadeInUp {       /* Definición de la animación "fadeInUp" que hace que un elemento se vuelva visible y se desplace hacia arriba*/
    0% {
        opacity: 0; /* Al inicio de la animación, el elemento es invisible */
        transform: translateY(20px);    /* El elemento comienza 20px por debajo de su posición original */
    }
    100% {
        opacity: 1; /* Al final de la animación, el elemento es visible */
        transform: translateY(0);   /* El elemento vuelve a su posición original, sin desplazamiento */
    }
}


/*Edición de Home-tasks (tasks.html)
    + contenido interno de la pantalla
*/ 

/* Tasks y Contacts comparten edición en = Tasks-dt y Contacts-dt + Tasks-dd y Contacts-dd + Tasks-dl, .Contacts-dl */
.Tasks-dt, .Contacts-dt{
    background-color: var(--title-c);
    padding: 0.625rem;

    border-radius: 5px;
    color: var(--primary-c);
    text-align: center;

    font-weight: bold;
}
.Tasks-dd, .Contacts-dd{
    background-color: rgb(232, 231, 231);
    padding: 0.3125rem;
    margin: 0.5rem;
    border-radius: 5px;
    color: black;
}
.Home-tasks {
    width: 85%;
    min-height: 100px;

    margin: auto;
    padding: 1.25rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--primary-c);
    font-size: 1.25rem;
    font-weight: bold;

}
.Tasks-dl, .Contacts-dl{
    width: 80%;
    min-height: 100px;
    background-color: var(--basic-c);
    margin: 1.25rem auto;
    padding: 1.25rem;

    border: 1px solid black;
    border-radius: 10px;

    color: black;
    font-size: 1rem;
    font-weight: normal;

    position: relative;
}
.Tasks-dl--important {
    width: 40%;
    min-height: 300px;


    position: fixed;
    top: 15%;
    right: 5%;
    z-index: 2;

    display: none;

}
.Tasks-dl--important.isActive {
    display: unset;
}
.Tasks-dt--important {
    background-color: var(--AlertImportant-c);

    color: var(--home-c);
}
.Tasks-dd--important {
    border: 1px solid var(--AlertImportant-c);
    margin: 0.9375rem auto;
}
.Tasks-dt--ok {
    background-color: var(--tasksOk);
}
.Tasks-dd--ok {
    border: 1px solid var(--tasksOk);
}


/*Botón para moverse entre pantallas*/
.Home-button {
    width: 4%;
    height: 50px;
    background-color: var(--AlertImportant-c);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 18%;
    right: 0;

    border-radius: 5px;
    cursor: pointer;
}
.Home-button:hover {
    transform: scale(0.95);
}

/*Crear Contactos*/
.Contacts-create {
    position: absolute;
    top: 35%;
    right: 6%;
}
/*Gestionar contactos*/
.Contacts-management {
    position: absolute;
    top: 40%;
    right: 6%;
}
/*Enviar email*/
.Contacts-email{
    position: absolute;
    top: 8%;
    left: 5%;
}
/* Dirige a un tlf*/
.Contacts-tlf{
    position: absolute;
    top: 8%;
    right: 5%;
}

/*Títulos y gestión*/
.Home-h2 , .Create-link{
    padding: 1.25rem;
    margin: 1.25rem 1.875rem 0;

    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-c);
}
.Management-link{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-c);
    cursor: pointer;
}
.Home-head{
    width: 25%;
    padding: 10px 0;

    position: absolute;
    left: 58%;

    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-c);

    
}

/*Form Create-contacts + Form Create-projects*/

.Home-form{
    width: 80%;
    min-height: 200px;
    background-color: var(--form-c);

    margin: 0.3125rem auto;
    padding: 1.25rem;

    border-radius: 8px;
    box-shadow: 9px 4px 8px rgba(0, 0, 0, 0.2);

    z-index: 2;
    position: relative;

    font-size: 0.625rem;
    
}
.Form-create{
    width: 100%;
    min-height: 180px;
    background-color: var(--form-c) ;

    margin: 0.3125rem auto;
    padding: 1.25rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
}
.Organizer-form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Form-left{
    width: 50%;
}
.Form-right{
    width: 40%;
    margin: 0 0 0 2.5rem;
}

/*Elementos de formulario*/
input, select, textarea, label {
    padding: 0.3125rem;
    border: 1px solid black;
    border-radius: 5px;

    font-size: 0.625rem;

    display: inline-block;
}
input[type="submit"] {
    width: 15%;

    padding: 0.625rem;
    margin: 0.3125rem auto;

    color: var(--basic-c);
    font-size: 0.625rem;
    border-radius: 8px;

    display: block;
    cursor: pointer;
}
.Form-label {
    width: 35%;
    background-color: var(--secondForm-c);
    margin: 0 0 0.25rem;
    padding: .4063rem;

    font-size: 1.5em;
    font-weight: bold;
    color: black;
    font-family: var(--form-ff);
    text-align: center;
    border: 1.2px solid black;
}
.Form-input {
    width: 60%;
    background-color: var(--home-c);
    margin: 0.25rem 0 0.25rem 0.625rem;

    font-family: var(--form-ff);
    font-size: 1rem;
    color: black;
}
.Form-label--organizer ,.Form-label--date{
    font-size: 1.2rem;
}
.Form-textarea{
    width: 100%;
    min-height: 90px;
    background-color: var(--home-c);

    font-family: var(--form-ff);
    font-size: 1rem;

    hyphens: auto;
    resize: none;
}
.Form-textarea--organizer{
    height: 150px;
    background-color: var(--home-c);
    margin: 0 0 1.25rem 0;
    font-size: 1rem;
    font-family: var(--form-ff)
}
.Form-select--contact{
    width: 20%;
    background-color: var(--basic-c);
    margin: 0 0 0 0.625rem;
    text-align: center;
}
.Form-option--active{
    background-color: green;
    padding: 0.3125rem;
    border-radius: 5px;
}
.Form-option--pending{
    background-color: orange;
    padding: 0.3125rem;
    border-radius: 5px;
}
.Form-option--inactive{
    background-color: red;
    padding: 0.3125rem;
    border-radius: 5px;
}

/*Botón de vuelta*/
.Form-back{
    position: absolute;
    top: 70%;
    right: 5%;
    z-index: 2;
}
.Management-back{
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 2;
}




.Home-management{
    width: 40%;
    min-height: 100px;
    background-color: var(--basic-c);
    padding: 1.25rem;
    margin: 1.25rem auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 20px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 9px 4px 8px rgba(0, 0, 0, 0.2);

    position: relative;
    z-index: 2;
}
.Management-li{
    font-size: 1rem;
}
.Management-li:hover{
    background-color: var(--home-c);
    border-radius: 10px;
    padding: 0.3125rem;
}

/* Contenido de la pantalla de proyectos e informes generales */
.Home-general{
    width: 55%;
    border-right: 1px solid black;

}
.Projects-ul{
    width: 88%;
    min-height: 100px;
    background-color: var(--title-c);
    margin: 1.25rem 3.125rem;
    padding: 1.25rem;

    border: 1px solid black;
    border-radius: 10px;

    color: black;
    font-size: 1rem;
    font-weight: normal;

    position: relative;
}
.Projects-li{
    height: 90%;
    min-height: 50px;
    background-color: var(--home-c);

    padding: 0.625rem;
    margin: 1.25rem;

    border-radius: 7px;
}
.Home-new{
    position: absolute;
    top: 25%;
    right: 22%;
}
.Home-head{
    position: absolute;
    top: 40%;
    right: 3%;
}
.Home-management--projects{
    position: absolute;
    top: 45%;
    right: 3%;

    display: none;
}
.Home-management--reports{
    position: absolute;
    top: 70%;
    right: 3%;
    display: none;
}
.Home-management--reports.isActive{
    display: unset;
}
.Home-management--projects.isActive{
    display: unset;
}
.Management-li{
    padding: 0.5rem;
}
.Export-svg{
    margin: 0 0 0 1.25rem;
}
.Export-form{
    display: flex;
    flex-flow: row nowrap;
}
.Export:hover{
    background-color: var(--secondForm-c);
}


/*Formulario 2. Crea un proyecto*/

.Form-first{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid black;
}
.Form-select--status , .Form-select--priority{
    width: 50%;
    background-color: var(--home-c);
    margin: 0 0 1.25rem 0;
    font-family: var(--form-ff);
}
.Form-input--expenses{
    width: 60%;
    background-color: var(--home-c);
}
.Form-input-comments{
    height: 80px;
    margin: 0 0 0.625rem 0;
}
.Form-group{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.1875rem;
}
.Form-label--description{
    margin: 10px 0;
    height: 35px;
}
.Form-back--projects{
    position: absolute;
    top: 90%;
}
.Form-h2 , .Organizer-h2 , .Tasks-h2 {
    width: 100%;
    padding: 1.25rem;
    margin: 0.625rem 0;

    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-c);
    text-align: center;
    text-decoration-line: underline;
}
.Form-send{
    width: 100%;
    padding: 0.5rem;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.Form-button{
    width: 13%;
    height: 30px;
    background-color: var(--buttonActive-c);
    margin: 0.4375rem auto;
    padding: 0.4375rem;

    border-radius: 8px;
    font-size: 1rem;
    font-family: var(--form-ff);
    color: var(--home-c);

    cursor: pointer;
}
.Form-low , .Form-medium , .Form-high , .Form-critical{
    background-color: red;
    padding: 0.1875rem;
    margin: 0.125rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}
.Form-medium{
    background-color: orange;
}
.Form-high{
    background-color: green;
}
.Form-critical{
    background-color: yellow;
}
.Form-planning , .Form-progressing , .Form-complete{
    border: 1.5px solid blue;
    border-radius: 5px;
    padding: 0.3125rem;
    border-radius: 5px;
    font-family: var(--form-ff);
    text-align: center;
    font-size: 1rem;
    margin: 0.1875rem;
}
.Form-progressing{
    border: 1.5px solid yellow;
}
.Form-complete{
    border: 1.5px solid green;
}
.Form-label--status , .Form-label--priority{
    width: 50%;
}
.Form-select--status , .Form-select--priority{
    width: 70%;
    height: 120px;
}

/*Pantalla de informes generales + animación aumento de img*/
.Home-reports{
    width: 65%;
    height: 500px;
    background-color: var(--basic-c);
    
    margin: 0.625rem 2.5rem;
    padding: 0.625rem;

    border-radius: 8px;
    box-shadow: 9px 4px 8px rgba(0, 0, 0.3, 0.5);

    overflow-y: scroll;

    position: absolute;
    z-index: 2;

}
.Reports-container{
    width: 90%;
    margin: 1.875rem auto;

    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    gap: 20px;
    
}
.Reports-img{
    width: 90%;
    height: 180px;
    background-color: lightgray;

    object-fit: cover;

    border: 0.5px solid var(--primary-c);
    
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Reports-img:hover{
    transform: scale(1.0);   
}
.Overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.Overlay-img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}
.Overlay.active {
    visibility: visible;
    opacity: 1;
}
.Overlay .Overlay-close {
    position: absolute;
    top: 1.25rem;
    right: 20px;
    font-size: 1.25rem;
    color: var(--basic-c);
    cursor: pointer;
    border: none;
}



/*Filter >> no disponible en esta versión */
.Reports-date{
    position: absolute;
    top: 55%;
    right: 10%;
}
/*Informes generales: crea y gestiona*/
.Reports-p{
    padding: 1.25rem;
  
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-c);

    position: absolute;
    top: 45%;
    right: 17%;
}
.Home-head--reports{
    width: 25%;
    position: absolute;
    top: 65%;
}

/*Perfil*/
.Profile{
    width: 100%;
    min-height: 565px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Profile-information{
    width: 70%;
    min-height: 450px;
    background-color: var(--secondForm-c);
    padding: 1.25rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    border: 1px solid black;

    border-radius: 8px;
    box-shadow: 9px 4px 8px rgba(0, 0, 0, 0.2);

    position: absolute;
    z-index: 2;

}
.Profile-picture{
    width: 25%;
    border-radius: 50%;
}
.Profile-img{
    width: 100%;
}
.Profile-ul{
    width: 60%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.Profile-li{
    width: 90%;
    background-color: var(--buttonActive-c);
    padding: 0.3125rem;
    border-radius: 8px;
    text-align: center;
    color: var(--basic-c);
}
.Profile-li--close{
    width: 60%;
    background-color: var(--title-c);
    margin: 0.625rem 0;
    cursor: pointer;
}
.Wrapper-profile , .Wrapper-configuration , .Wrapper-search{
    cursor: pointer;
}



/*Calendario Header*/
.Schedule{
    width: 90%;
    min-height: 500px;
    font-family: var(--general-ff);
    max-width: 800px;
    padding: 2.5rem;
    margin: 2.5rem auto;
    background-color: var(--secondForm-c);
    border-radius: 10px;
}
.Schedule-header {
    margin: 0 0 0.625rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2rem;
    font-family: var(--general-ff);

}
.Schedule-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.calendar-day {
    padding: 0.625rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;
    border: 2px solid var(--primary-c);

    font-family: var(--general-ff);

    position: relative;
}
.calendar-day-number {
    font-size: 1rem;
}
.add-event {
    background-color: var(--buttonActive-c);
    padding: 0.3125rem;
    margin: 0.3125rem 0 0 0;

    border-radius: 3px;

    color: var(--basic-c);
    font-size: 0.8rem;
    font-family: var(--general-ff);
    text-align: center;

    cursor: pointer;
}
.add-event:hover {
    background-color: var(--form-c);
}
.event-form {
    padding: 0.625rem;
    background: lightgray;

    display: flex;
    flex-flow: column;
    gap: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;

    font-family: var(--general-ff);

}
.event-form input {
    padding: 0.3125rem;
    font-size: 0.9rem;
    font-family: var(--general-ff);

}
.event-form button {
    padding: 0.3125rem;
    font-size: 0.9rem;
    font-family: var(--general-ff);
    cursor: pointer;
}
.calendar-event {
    background-color: var(--title-c);

    margin: 0 0 0.25rem 0;

    border: 1px solid #000;

    text-align: center;
    font-family: var(--general-ff);

}
.Schedule-prev , .Schedule-next{
    background-color: #7E675E;
    padding: 0.3125rem 0.625rem;
    border-radius: 30%;
}
.Schedule-month{
    background-color: #7E675E;
    padding: 0.625rem 1.875rem;
    border-radius: 30%;
}

/*Calendario pantalla*/
.CalendarView{
    width: 90%;
    min-height: 200px;
    margin: auto;
    padding: 0 0 0.625rem 0;
    background-color: var(--secondForm-c);
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color: var(--basic-c);
}
.CalendarView-header {
    width: 100%;
    height: 30px;
    background-color: var(--buttonActive-c);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
    font-size: 1.2rem;
}
.CalendarView-grid{
    width: 90%;
    min-height: 230px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.CalendarView-day {
    width: 90%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 0.625rem;
    border-radius: 5px;
    position: relative;
    font-size: 0.5rem;
}
.CalendarView-prev , .CalendarView-next{
    padding: 0.3125rem 0.625rem;
    border-radius: 30%;
}
.CalendarView-month{
    padding: 0.625rem 1.875rem;
    border-radius: 30%;
    font-size: 0.625rem;
    
}


/*Botón animación deslizar*/
.Home-slide{
    width: 4%;
    height: 50px;
    background-color: var(--title-c);
    margin: 1.25rem 2.5rem 0 0;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 5%;
    right: 0;

    border-radius: 50px;
    cursor: pointer;

    opacity: 1;
}
.Home-slide.isVisible{
    opacity: 0;
}



/*Chat*/
.Chat-container {
    width: 100%;
    min-height: 400px;
    background-color: var(--secondForm-c);
    
    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
    overflow: hidden;
}
.Chat-header {
    background-color: var(--secondForm-c);
    padding: 0.9375rem;

    text-align: center;
    font-size: 1.125rem;
    color: var(--basic-c);
    font-weight: bold;
    color: black;
}
.Chat-messages {
    background-color: var(--home-c);
    padding: 0.625rem;
    
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    gap: 10px;

    overflow-y: auto;
}
.message {
    max-width: 70%;
    padding: 0.625rem 0.9375rem;

    border-radius: 20px;

    font-size: 0.875rem;
    line-height: 1.4;

    word-wrap: break-word;
}
.message.user {
    align-self: flex-end;
    background-color: var(--title-c);
    color: var(--basic-c);
}
.message.bot {
    background-color: lightgray;

    align-self: flex-start;

    color: #333;
}
.Chat-input {
    padding: 0.625rem;

    display: flex;
    border-top: 1px solid #ddd;
}
.Chat-input input {
    flex: 1;
    padding: 0.625rem;
    
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 0.875rem;

    outline: none;
}
.Chat-input button {
    background-color: #587065;

    margin-left: 0.625rem;
    padding: 0.625rem 1.25rem;
    border: none;
    
    color: var(--basic-c);
    border-radius: 20px;
    font-size: 0.875rem;

    cursor: pointer;
}
.Chat-input button:hover {
    background-color: var(--buttonActive-c);
}


@keyframes slideRight{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}



@media (max-width: 1900px){
    .Header-logo{
        width: 11%;
    }
    .Animation-graph , .Animation-clipboard , .Animation-folder , .Animation-people , .Animation-calendar{
        width: 13%;
    }
    .Slide{
        width: 3%;
    }
    .Home-new{
        position: absolute;
        left: 55%;
    }
    .Home-head--reports{
        width: 20%;
        position: absolute;
        left: 77%;
    }
    .Management-link{
        width: 90%;
    }
    .Profile-information{
        position: absolute;
        top: 10%;
    }
    .Block-calendar{
        position: absolute;
        left: 10%;
    }
    .Block-contacts{
        width: 30%;
        position: absolute;
        left: 20%;
    }
    .Block-projects{
        width: 50%;
        position: absolute;
        left: 32%;
    }
    .Block-reports{
        width: 30%;
        position: absolute;
        left: 42%;
    }
    .Block-profile{
        width: 10%;
        position: absolute;
        left: 77%;
    }
}
@media (max-width: 1600px){
    .Header-logo{
        width: 13%;
    }
    .Animation-graph , .Animation-clipboard , .Animation-folder , .Animation-people , .Animation-calendar{
        width: 15%;
    }
    .Slide{
        width: 3%;
    }
    .Home-new{
        position: absolute;
        left: 55%;
    }
    .Home-head--reports{
        width: 20%;
        position: absolute;
        left: 77%;
    }
    .Management-link{
        width: 90%;
    }
}
@media (max-width: 1070px){
    .Header{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

    }
    .Header-logo{
        width: 17%;
    }
    .Header-nav{
        display: none;
    }
    .Header-responsive{
        width: 15%;
        display: block;
    }
    .Btn-menu{
        height: 100px;
        display: block;

        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }
    .Btn-chat{
        display: block;
    }
    .Btn-nav{
        width: 20%;
        height: 200px;
        background-color: var(--basic-c);

        box-shadow: 9px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: .3125rem;
        border: 1px solid var(--primary-c);

        color: var(--primary-c);
        text-align: center;

        position: absolute;
        top: 15%;
        right: 0;
        z-index: 3;

        display: none;

    }
    .Btn-seccion{
        padding: 0.9375rem;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 15px;

        font-family: var(--general-ff);
        font-size: 1rem;
        
    }
    .Btn-nav.isActive{
        display: unset;
    }
    .Block-profile{
        width: 15%;
        position: absolute;
        top: 10%;
        left: 40%;
    }
    .Home{
        min-height: 900px;
    }
    .Animation-graph , .Animation-clipboard , .Animation-folder , .Animation-people , .Animation-calendar{
        width: 20%;
    }
    .Home-form{
        width: 90%;
        display: flex;
    }
    .Form-left{
        width: 50%;
    }
    .Form-right{
        width: 40%;
    }
    .Form-back{
        position: absolute;
        right: 0;
        z-index: 2;
    }
    .Home-principal{
        min-height: 900px;
    }
    .Schedule{
        min-height: 500px;
    }
    .Home-slide{
        width: 4%;
        height: 43px;
        border-radius: 50%;

        position: fixed;
        bottom: 5%;
        right: 0;        
    }
    .Home-new{
        width: 40%;
        position: absolute;
        top: 25%;
        right: 7%;
    }
    .Create-link{
        width: 60%;
    }
    .Home-head{
        position: absolute;
        top: 40%;
        left: 60%;
    }
    .Form-back--projects{
        position: absolute;
        top: 80%;
    }
    .Reports-p{
        position: absolute;
        top: 30%;
        right: 15%;
    }
    .Reports-date{
        position: absolute;
        top: 35%;
        right: 5%;
    }
    .Home-management{
        width: 50%;
        position: absolute;
        top: 10%;
        left: 25%;
    }
    .Home-management--projects{
        position: absolute;
        top: 47%;
        left: 50%;
    }
    .Home-head--reports{
        position: absolute;
        top: 45%;
        left: 75%;
    }
    .Home-management--reports{
        width: 40%;
        position: absolute;
        top: 53%;
        left: 50%;
    }
    .Home-reports{
        min-height: 700px;
    }
    .Form-button{
        width: 20%;
    }
    .Back{
        top: 65%;
    }
    .Management-back{
        top: 30%;
    }
}
@media (max-width: 850px){
    .Header{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

    }
    .Header-logo{
        width: 20%;
    }
    .Header-nav{
        display: none;
    }
    .Header-responsive{
        width: 15%;
        display: block;
    }
    .Btn-menu{
        height: 100px;
        display: block;

        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }
    .Btn-chat{
        display: block;
    }
    .Btn-nav{
        width: 20%;
        height: 200px;
        background-color: var(--basic-c);

        box-shadow: 9px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: .3125rem;
        border: 1px solid var(--primary-c);

        color: var(--primary-c);

        position: absolute;
        top: 15%;
        right: 0;
        z-index: 3;

        display: none;

    }
    .Btn-seccion{
        padding: 0.9375rem;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 15px;

        font-family: var(--general-ff);
        font-size: 1rem;
    }
    .Btn-nav.isActive{
        display: unset;
    }
    .Block-profile{
        width: 15%;
        position: absolute;
        top: 10%;
        left: 40%;
    }
    .Animation-clipboard , .Animation-calendar , .Animation-people , .Animation-folder , .Animation-graph{
        width: 25%;
    }
    .Form-button{
        width: 15%;
    }
    .Home-principal{
        min-height: 900px;
    }
    .Schedule{
        min-height: 400px;
    }
    .Home-slide{
        width: 5%;
        height: 40px;
        border-radius: 50%;

        position: fixed;
        bottom: 5%;
        right: 0;   
    }
    .Contacts-create{
        position: absolute;
        top: 33%;
        right: 6%;
    }
    .Form-back{
        position: absolute;
        top: 90%;
        right: 5%;
        z-index: 2;
    }
    .Back{
        position: absolute;
        top: 70%;
    }
    .Management-back{
        position: absolute;
        top: 30%;
    }
    .Form-button{
        width: 20%;
    }
    .Form-label--observations{
        width: 50%;
    }
    .Home-new{
        width: 40%;
        position: absolute;
        top: 25%;
        right: 30%;
    }
    .Create-link{
        width: 100%;
    }
    .Home-head{
        position: absolute;
        top: 40%;
    }
    .Form-back--projects{
        position: absolute;
        top: 90%;
        right: 0;
    }
    .Reports-container{
        margin: 1.875rem auto;

        display: grid;
        grid-template-columns: repeat( 3 , 1fr);
        gap: 20px;
    }
    .Home-head--reports{
        width: 20%;
        position: absolute;
        top: 40%;
        left: 73%;
    }
    .Management-link{
        width: 80%;
    }
    .Home-management--projects{
        position: absolute;
        top: 45%;
    }
    .Home-management--reports{
        width: 50%;
        position: absolute;
        top: 46%;
    }
    .Profile{
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
    }
    .Profile-information{
        width: 50%;
        height: 100px;
        margin: .3125rem;
    }
    
    .Profile-li{
        font-size: .625rem;
    }
}
@media (max-width: 780px){
    .Header-logo{
        width: 22%;
    }
    .Home-organizer{
        width: 85%;
        margin: 1.25rem auto;
        position: static;
        animation: none;
    }
    .Home-animation{
        width: 60%;
        min-height: 200px; 
        margin: 0 auto;
        position: static;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
      
    }
    .Animation-graph , .Animation-clipboard , .Animation-folder , .Animation-people , .Animation-calendar{
        width: 20%;
        margin: 0.625rem 1.25rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        opacity: 1;
        animation: none;
        
    }
    .Home-principal--projects{
        width: 100%;
    }
    .Projects{
        width: 90%;
        margin: auto;

        position: absolute;
        top: 18%;
        border-right: none;
    }
    .Home-new{
        position: absolute;
        top: -3%;
        font-size: 0.625rem;
    }
    .Home-head{
        width: 35%;
        position: absolute;
        top: 5%;
        left: 63%;
        font-size: 0.625rem;
    }
    .Home-management--projects{
        width: 60%;
        position: absolute;
        top: 10%;
        left: 30%;
    }
    .Home-h2{
        position: absolute;
        top: 5%;
        left: 10%;
    }
    .Home-principal--reports{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-flow: column;
        position: relative;
    }
    .Home-reports{
        width: 80%;
        min-height: 300px;
        margin: 1.25rem auto;
        position: static;
    }
    .Reports-p ,.Reports-date , .Home-head--reports{
        width: 80%;
        margin: 0 0 0 1.875rem;
        padding: 1.25rem;
        position: static;
    }
    .Home-management--reports{
        width: 53%;
        height: 80px;
        position: absolute;
        top: 70%;
        left: -30%;
    }
    .Profile{
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
    }
    .Profile-information{
        width: 50%;
        height: 100px;
        margin: .3125rem;
    }
    .Profile-li{
        font-size: .625rem;
    }
    .Block-profile{
        width: 15%;
        position: absolute;
        top: 17%;
        left: 43%;
    }
    .Form-select--contact{
        width: 40%;
        height: 100px;
    }
}
@media (max-width: 640px){
    .Header-logo{
        width: 25%;
    }
    .Animation-graph , .Animation-clipboard , .Animation-folder , .Animation-people , .Animation-calendar{
        width: 23%;
    }
    .Contacts-email{
        position: absolute;
        top: 5%;
        left: 91%;
    }
    .Contacts-tlf{
        position: absolute;
        top: 10%;
        right: 3%;
    }
    .Slide{
        width: 30px;
        height: 30px;
    }
    .Projects{
        width: 90%;
        margin: auto;

        position: absolute;
        top: 20%;
        border-right: none;
    }
    .Home-new{
        position: absolute;
        top: -2%;
        font-size: 0.625rem;
    }
    .Home-head{
        width: 35%;
        position: absolute;
        top: 10%;
        left: 63%;
        font-size: 0.625rem;
    }
    .Home-management{
        width: 60%;
    }
    .Home-management--projects{
        width: 60%;
        position: absolute;
        top: 18%;
        left: 30%;
    }
    .Reports-container{
        margin: 1.875rem auto;

        display: grid;
        grid-template-columns: repeat( 2 , 1fr);
        gap: 20px;
    }
    .Home-principal--reports{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-flow: column;
        position: relative;
    }
    .Home-reports{
        width: 80%;
        min-height: 300px;
        margin: 1.25rem auto;
        position: static;

    }
    .Reports-p ,.Reports-date , .Home-head--reports{
        width: 80%;
        margin: 0 0 0 1.875rem;
        padding: 1.25rem;
        position: static;
    }
    .Home-management--reports{
        width: 90%;
        padding: .3125rem;
        position: absolute;
        top: 70%;
        left: 20%;
    }
    .Form-create{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        align-items: start;
    }
    .Form-label , .Form-input{
        width: 90%;
    }
    .Form-left , .Form-right{
        width: 90%;
        margin: .625rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .Form-label--responsive{
        width: 80%;
    }
    .Form-input--responsive{
        width: 100%;
    }
    .Form-label--description{
        width: 50%;
    }
    .Form-label--observations{
        width: 100%;
    }
    .Form-select--contact{
        width: 50%;
    }
    .Form-textarea--observations{
        width: 100%;
    }
    .Form-select--contact{
        height: 100px;
    }
    .Block-profile{
        width: 20%;
        position: absolute;
        top: 18%;
        left: 40%;
    }
    .Form-back{
        position: absolute;
        right: 0;
    }
}
@media (max-width: 580px){
    .Header-logo{
        width: 26%;
    }
    .Schedule{
        width: 60%;
        min-height: 200px;
        margin: 2.5rem auto;
    }
    .Schedule-header {
        font-size: .625rem;    
    }
    .calendar-day {
        padding: .3125rem;
        margin: auto;
    }
    .calendar-day-number {
        font-size: .4375rem;
    }
    .add-event {
        background-color: var(--buttonActive-c);
        padding: .125rem;
        margin: .125rem 0 0 0;
        border-radius: 3px;
        font-size: .3125rem;
        cursor: pointer;
    }
    .event-form input {
        padding: 0.3125rem;
        font-size: .625rem;
    }
    .event-form button {
        padding: .1875rem;
    }
    .Home-management{
        width: 65%;
    }
    .Reports-container{
        margin: 1.875rem auto;

        display: grid;
        grid-template-columns: repeat( 2 , 1fr);
        gap: 20px;
    }
    .Home-principal--reports{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-flow: column;
        position: relative;
    }
    .Home-reports{
        width: 80%;
        min-height: 300px;
        margin: 1.25rem auto;
        position: static;

    }
    
    .Create-link , .Management-link , .Reports-p{
        font-size: .75rem;
        padding: .3125rem;
        margin: .3125rem;
    }
    .Home-head{
        position: absolute;
        top: 5%;
        left: 55%;
    }
    .Home-new{
        position: absolute;
        top: 0;
    }
    .Home-management--projects{
        width: 70%;
        padding: .3125rem;
        margin: .3125rem;
        position: absolute;
        top: 13%;
        left: 10%;

    }
    .Home-h2{
        font-size: 1.2rem;
    }
    .Home-general{
        position: absolute;
        top: 15%;
    }
    .Reports-p ,.Reports-date , .Home-head--reports{
        width: 65%;
        margin: 0 0 0 1.875rem;
        padding: 1.25rem;
        position: static;
    }
    .Home-management--reports{
        width: 65%;
        padding: .3125rem;
        position: absolute;
        top: 73%;
        left: 0;
    }
    .Form-create{
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
    }
    .Form-right{
        width: 90%;
        margin: .3125rem;
    }
    .Form-label , .Form-input{
        width: 80%;
    }
    .Form-label--responsive{
        width: 80%;
    }
    .Form-input--responsive{
        width: 100%;
    }
    .Form-label--description{
        width: 50%;
    }
    .Form-label--observations{
        width: 100%;
    }
    .Form-select--contact{
        width: 50%;
    }
    .Form-textarea--observations{
        width: 100%;
    }
    .Profile-information{
        width: 80%;
    }
    .Block-profile{
        width: 20%;
        position: absolute;
        top: 18%;
        left: 40%;
    }
    .Btn-nav{
        width: 35%;
        text-align: center;
    }
} 
@media (max-width: 470px){

    .Header-logo{
        width: 33%;
    }
    .Schedule{
        width: 60%;
        min-height: 200px;
        margin: 2.5rem auto;
    }
    .Schedule-month {
        font-size: .5rem;    
    }
    .calendar-day {
        padding: .3125rem;
        margin: auto;
    }
    .calendar-day-number {
        font-size: .4375rem;
    }
    .add-event {
        display: none;
    }
    .Home-management{
        width: 80%;
        padding: .3125rem 0;
        display: flex;
        flex-flow: column;

        position: absolute;
        top: 10%;
        left: 10%;
    }
    .Projects{
        width: 90%;
        margin: auto;

        position: absolute;
        top: 15%;
        border-right: none;
    }
    .Home-h2{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
    }
    .Home-new{
        padding: .3125rem;
        position: absolute;
        top: 0;
        font-size: 0.625rem;
    }
    .Home-head{
        width: 35%;
        position: absolute;
        top: 5%;
        left: 63%;
        font-size: .75rem;
    }
    .Home-management--projects{
        width: 80%;
        position: absolute;
        top: 12%;
        left: 0;


        display: none;
    }
    .Create-link , .Management-link{
        font-size: .75rem;
        padding: .1875rem;
        margin: .125rem;
    }
    
    .Form-create{
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
    }
    .Form-label , .Form-input{
        width: 100%;
    }
    .Form-left , .Form-right{
        width: 90%;
        margin: .3125rem;
    }
    .Form-label--responsive{
        width: 80%;
    }
    .Form-input--responsive{
        width: 100%;
    }
    .Form-label--description{
        width: 50%;
    }
    .Form-label--observations{
        width: 100%;
    }
    .Form-select--contact{
        width: 50%;
    }
    .Form-textarea--observations{
        width: 100%;
    }
    .Back{
        position: absolute;
        top: 95%;
        right: 10%;
    }
    .Reports-container{
        margin: 1.875rem auto;

        display: grid;
        grid-template-columns: repeat( 2 , 1fr);
        gap: 20px;
    }
    .Home-principal--reports{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-flow: column;
        position: relative;
    }
    .Home-reports{
        width: 80%;
        min-height: 300px;
        margin: 1.25rem auto;
        position: static;

    }
    .Reports-p ,.Reports-date , .Home-head--reports{
        width: 80%;
        margin: 0 0 0 1.875rem;
        padding: 1.25rem;
        position: static;
    }
    .Home-management--reports{
        width: 80%;
        padding: .3125rem;
        position: absolute;
        top: 70%;
        left: 20%;
    }
    .Home-principal--reports{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-flow: column;
        position: relative;
    }
    .Home-reports{
        width: 80%;
        min-height: 300px;
        margin: 1.25rem auto;
        position: static;

    }
    .Reports-p ,.Reports-date , .Home-head--reports{
        width: 80%;
        margin: 0 0 0 1.875rem;
        padding: 1.25rem;
        position: static;
    }
    .Home-management--reports{
        width: 80%;
        padding: .3125rem;
        position: absolute;
        top: 73%;
        left: 0;
    }
    .Create-link , .Management-link{
        font-size: .75rem;
        padding: .3125rem;
        margin: .3125rem;
    }
    .Profile-information{
        width: 70%;
    }
    .Block-profile{
        width: 25%;
        position: absolute;
        top: 18%;
        left: 40%;
    }
    .Btn-nav{
        width: 35%;
        text-align: center;
    }
} 

